<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="logo-text navbar-brand" routerLink="/">CodeStart</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-links mx-auto">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link me-lg-4 active" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link me-lg-4" routerLink="/course">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link me-lg-4" routerLink="/blog">Blog</a>
            </li>
            <li class="nav-item">
              <a class="me-lg-4 nav-link" routerLink="/contact">Contact</a>
            </li>
          </ul>
        </div>

        <div class="d-flex right-nav-links">
          <button class="btn me-lg-4 login" routerLink="/login">Login</button>
          <button class="btn signup" routerLink="/signup">Signup</button>
        </div>
      </div>
    </div>
  </nav>
</header>