<div class="dashboard">
    <!--user dashboard-->
    <!--div *ngIf="user?.role==='user'">
        <h2>Welcome,  {{user.fullname}}</h2>
        <p>Continue learning your courses</p>
        <button routerLink="/course">Browse Courses</button>
    </div-->


    <!--Admin dashboard-->
    <div ><!--*ngIf="user?.role==='admin'"-->
        <!--h2>Hello, {{user.fullname}}</h2>
        <p>Manage platform content</p>

        <button routerLink="/course">Manage Courses</button>
        <button routerLink="/blog">Manage Blogs</button-->
            hi
    </div>
</div>