<section class="parallax background" #parallax>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <img src="assets/images/book.png" alt="book" id="book" #book>
    <h3 id="text" #text>Learn, Grow, Succeed.</h3>
</section>

<section class="sec">
    <h2>Why Choose CodeStart?</h2>
    <p>I have combined the most effective learning methods to help you learn faster and in a fun way!</p>
    <div>
        <div class="learn-method container">
            <div class="row d-flex">
                <div class="col learn-card">
                    <h3>Structured Learning</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce rutrum cursus sem at lobortis.
                        Morbi sed molestie mauris.</p>
                </div>
                <div class="col learn-card">
                    <h3>Progress Tracking</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce rutrum cursus sem at lobortis.
                        Morbi sed molestie mauris.</p>
                </div>
                <div class="col learn-card">
                    <h3>Free access</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce rutrum cursus sem at lobortis.
                        Morbi sed molestie mauris.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="available-course">
    <div>
        <h2>Available Courses</h2>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-3 m-auto available-card">
                    <img src="" alt="">
                    <h4>HTML Basics Beginner</h4>
                    <p>Learn the foundation of web development with HTML structure and elements.</p>
                    <button>Start learning</button>
                </div>
                <div class="col-md-3 m-auto available-card">
                    <img src="" alt="">
                    <h4>HTML Basics Beginner</h4>
                    <p>Learn the foundation of web development with HTML structure and elements.</p>
                    <button>Start learning</button>
                </div>
                <div class="col-md-3 available-card">
                    <img src="" alt="">
                    <h4>HTML Basics Beginner</h4>
                    <p>Learn the foundation of web development with HTML structure and elements.</p>
                    <button>Start learning</button>
                </div>
            </div>
        </div>
        <button>View all courses</button>
    </div>
</section>

<section class="signup">
    <h3>Ready to start your journey?</h3>
    <p>Sign up today and get access to all courses for free!</p>
    <button type="button" routerLink="/signup">Sign up for free</button>
</section>