:host {
    --home-primary-color: #a69bce;
    --home-seconday-color: #4130b2;
    --text-color: #fff;
}

.course-desc{
    background-color: #DCD1FF;
    padding: 60px;
}

#level{
    display: flex;
    align-items: center;
    gap: 10px;
}


.category-box, .level-box{
    display: flex;
    align-items: center;
    gap: 8px;
    padding:3px 12px;
    border-radius: 10px;
    background-color: #D9D9D9;
}

.level-box{
    width: 200px;
}

.icon-btn{
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#searchbar button,#searchbar input{
    border: none;
    background: none;
}

#searchbar{
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    gap: 8px;
    padding:10px 12px;
    border-radius: 10px;
    width: 250px;
}

#searchbar input{
    flex: 1;
}

.level-text,.category-text{
    cursor:default;
}

.available-course h2 {
    color: #3d2e8f;
    margin-bottom: 20px;
    padding-top: 30px;
}
.result-coursework .available-card{
    border: 1px solid black;
    text-align: center;
    width: 20%;
}

.btn-start {
    background-color: var(--home-seconday-color);
    color: var(--text-color);
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    margin: 20px;
}

.btn-start:hover {
    background-color: #5c47d1;
}