<!--Contact us section-->
<section id="contact-us">

    <!--bootstrap container-->
    <div class="container mt-3">
        <div class="row align-items-center">

            <div class="col-md-6">
                <form>
                    <h3 class="mb-3">Contact us</h3>
                    <!--Name input field-->
                    <div class="form-group mb-4">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="name" name="name" maxlength="20"
                            size="20" required>
                    </div>

                    <!--Email input field-->
                    <div class="form-group mb-4">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="name@gmail.com" maxlength="50"
                            aria-label="Email address">
                    </div>

                    <!--Message textarea-->
                    <div class="form-group mb-4">
                        <label for="message">Message</label>
                        <textarea class="form-control" id="message" rows="3" placeholder="Write your message here...."
                            required aria-label="Message"></textarea>
                    </div>

                    <!--submit button-->
                    <button type="submit" class="btn mb-4 contact-btn">Submit</button>
                </form>
            </div>

            <!--Right column: Contact image-->
            <div class="col-md-6 text-center">
                <img src="assets/images/contact.png" alt="contact image" class="right-image">
            </div>
        </div>
    </div>
</section>