<section class="d-flex justify-content-center align-items-center signup">
    <div>
        <div class="text-center">
            <img src="/assets/images/add-users.png" alt="Add users" class="add-users">
            <h4>Join CodeStart</h4>
            <p class="desc">Create your account and start learning today</p>
        </div>

        <form>
            <div class="form-group">
                <label for="formGroupExampleInput">Full Name:</label>
                <input type="text" class="form-control mb-4" id="formGroupExampleInput" placeholder="Full Name">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Email address:</label>
                <input type="email" class="form-control mb-4" id="formGroupExampleInput2" placeholder="Email address">
            </div>
            <div class="form-group">
                <label for="inputPassword4">Password</label>
                <input type="password" class="form-control inputPassword4 mb-4" placeholder="Password">
            </div>

            <div class="form-group">
                <label for="inputPassword4">Confirm Password</label>
                <input type="password" class="form-control inputPassword4 mb-4" placeholder="Confirm Password">
            </div>
            <div class="text-center mb-3">
                <button type="submit" class="btn mx-auto mb-2">Create account</button><br>
                <p class="d-inline">Already have an account?</p> <a class="ms-2" routerLink="/login">Sign in here</a>
            </div>
        </form>
    </div>
</section>