.add-users{
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.signup .btn{
    background-color: #3D86B4;
    color:white;
}

.desc,.signup h4{
    color: white;
}

.signup {
    background-color: #694DDE;
}

.signup form{
    background-color: #F3F3F3;
    margin-top: 10px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px black;
    margin-bottom: 30px;
}

form input{
    border: 1px solid black;
}