<section>

    <!--Course description-->
    <div class="course-desc">
        <h3>Explore courses:</h3>
        <p>Select from a range of courses designed to take you from beginner to expert developer.</p>
    </div>

    <!--Search, Filter and category section-->
    <div class="container py-3">
        <!--Search bar-->
        <div class="row gap-5">
            <div id="searchbar" class="col">
                <form action="">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    <input type="text" placeholder="search..." name="search">
                </form>
            </div>

            <!--Level filter section-->
            <div id="level" class="col">
                <button class="icon-btn filter">
                    <i class="fa-solid fa-filter category-icon"></i>
                </button>
                <div class="level-box">
                    <span class="level-text">All level</span>
                    <button type="button" class="icon-btn ms-auto">
                        <i class="fa-regular fa-v level-icon"></i>
                    </button>
                </div>
            </div>

            <!--Cateogry filter section-->
            <div id="category" class="col">
                <div class="category-box d-inline-flex gap-5">
                    <span class="category-text">All category</span>
                    <button type="button" class="icon-btn">
                        <i class="fa-regular fa-v"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--Displays search results or courses-->
    <div class="result-coursework">

    </div>
</section>