<div class="footer">
    <div class="container mx-auto">
      <footer class="py-4 text-center">
  
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
  
          <!-- user footer -->
          <ng-container *ngIf="user?.role !== 'admin'">
            <li class="nav-item"><a class="nav-link px-2" routerLink="/">Home</a></li>
            <li class="nav-item"><a class="nav-link px-2" routerLink="/course">Courses</a></li>
            <li class="nav-item"><a class="nav-link px-2" routerLink="/blog">Blog</a></li>
            <li class="nav-item"><a class="nav-link px-2" routerLink="/contact">Contact</a></li>
          </ng-container>
  
          <!-- admin footer -->
          <ng-container *ngIf="isLoggedIn && user?.role === 'admin'">
            <li class="nav-item">
              <a class="nav-link px-2" routerLink="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-2" routerLink="/dashboard/courses">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-2" routerLink="/dashboard/users">Users</a>
            </li>
          </ng-container>
  
        </ul>
  
        <p class="text-center">© 2025 CodeStart, Inc</p>
  
      </footer>
    </div>
  </div>