<div class="footer">
    <div class="container mx-auto">
        <footer class="py-4 text-center">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a class="nav-link px-2" routerLink="/">Home</a></li>
                <li class="nav-item"><a class="nav-link px-2" routerLink="/course" >Courses</a></li>
                <li class="nav-item"><a class="nav-link px-2" routerLink="/blog">Blog</a></li>
                <li class="nav-item"><a class="nav-link px-2" routerLink="/contact">Contact</a></li>
            </ul>
            <p class="text-center">© 2025 CodeStart, Inc</p>
        </footer>
    </div>
</div>